@use "../abstracts/colors";

#categorySection {
  padding-top: 1rem;
  color: colors.$white;
  display: flex;
  flex-wrap: wrap;
}

#categoryLabel {
  margin-right: 1rem;
}

#categorySelectBox {
  border-radius: 3px;
}

@media only screen and (max-width: 341px) {
  #categorySection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
