@use "../abstracts/colors";

#channelsTitle {
  padding-left: 1rem;
  color: white;
}

.channelWrapperDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
