@use "../abstracts/colors";

.channelDiv {
  margin: 0 1rem 1rem 0;
  background-color: colors.$black;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

#channelImg {
  width: 12rem;
}

#channelTitle {
  align-self: center;
  padding: 0.2rem;
  color: colors.$white;
}

.channelDiv:hover {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.1);
  filter: brightness(120%);
  transition: all 0.5s ease-out;
}
