@use "../abstracts/colors";

#channelSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#channelsTitle {
  padding-bottom: 1rem;
  color: colors.$white;
}

.channelWrapperDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

