@use "../abstracts/colors";

#navDiv {
  min-height: 5rem;
  margin: 0rem 1rem 1rem 1rem;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navBarImage {
  width: 22rem;
  padding: 1rem;
}

#miniLogo {
  display: none;
}

#longLogo {
  display: flex;
}

#navLinkDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navLink {
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: inset 0 0 0 0 colors.$darkblue;
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navLink:hover {
  color: colors.$white;
  box-shadow: inset 200px 0 0 0 colors.$darkblue;
}

@media only screen and (max-width: 440px) {
  #miniLogo {
    display: flex;
    width: 10rem;
  }
  #longLogo {
    display: none;
  }
}
