@use "../abstracts/colors";

#programsContainer {
  padding-left: 1rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

#programsTitle {
  color: colors.$white;
}

#searchWrapper {
  margin-top: 1rem;
  padding: 1rem;
  color: colors.$white;
  border: 1px solid colors.$wheat;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-bottom: 2rem;
}

#programsWrapper {
  display: flex;
  flex-wrap: wrap;
}
