@use "../abstracts/colors";

#programWithHeart {
  position: relative;
  height: 100%;
}

.heart {
  display: inline-block;
  color: colors.$wheat;
  position: absolute;
  right: 15px;
}

.loveHeartImg {
  width: 1.5rem;
  display: none;
  position: absolute;
  right: 15px;
}

#programWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  width: 14rem;
  padding: 1rem;
  height: 87%;
  margin-bottom: 4rem;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: colors.$darkblue;
  margin-right: 1rem;
}

a {
  color: colors.$white;
  text-decoration: none;
}

#programImg {
  width: 12rem;
}

#programInfo {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 12rem;
  color: colors.$white;
  line-height: 1.2;
}

#programTitle {
  font-size: 1.2rem;
  margin-bottom: -1rem;
}

#programHr {
  margin-bottom: 1rem;
}

#programDescription {
  font-size: 0.8rem;
}
