@use "../abstracts/colors";

#favoriteContainer {
  color: colors.$white;
  padding: 1rem;
}

#favoriteProgramSection {
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: colors.$white;
}

#favoriteProgramImg {
  padding-right: 10%;
  max-width: 100%;
  height: auto;
}

#favoriteProgramInfo {
  width: 40%;
  color: colors.$white;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 200;
}

#favoriteProgramTitle {
  font-size: 1.5rem;
}
