@use "../abstracts/colors";

#selectedProgramContainer {
  padding: 1rem;
}

#selectedProgramSection {
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: colors.$white;
}

#selectedProgramImg {
  padding-right: 10%;
  max-width: 100%;
  height: auto;
}

#selectedProgramInfoWrapper {
  width: 40%;
  color: colors.$white;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 200;
}

#selectedProgramTitle {
  font-size: 1.5rem;
}

.selectedProgramInformationTitle {
  margin-top: 3rem;
}

.selectedProgramInfo {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

.socailMediaIcons {
  height: 3.5rem;
  margin: 0 2rem 0 0;
}

#facebookLogo {
  height: 4rem;
  margin: 0 2rem -0.4rem 0;
}

#broadcastPoddButtons {
  display: flex;
}

#programAllBroadCasts {
  width: 100%;
}

#broadcastPoddButtons {
  width: 15rem;
  justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
#selectedProgramInfoWrapper{
  width: 100%;
}
}

@media only screen and (max-width: 440px) {
  #selectedProgramContainer {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #selectedProgramSocialMediaIcons {
    display: flex;
  }

  #selectedProgramInfo {
    width: 90%;
  }

  #broadcastPoddButtons {
    margin-bottom: 1rem;
  }
}
