@use "../abstracts/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#selectedSectionBackButton {
  color: colors.$white;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid colors.$white;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.getMoreButton {
  color: colors.$white;
  background-color: colors.$darkblue;
  border: 1px solid colors.$white;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem;
  margin-top: 1rem;
  width: 15%;
  align-self: center;
  text-align: center;
}

.getMoreButton:hover {
  color: colors.$darkblue;
  border: 1px solid colors.$darkblue;
  background-color: colors.$white;
}
